results/
wandb/
lib/
output/
data
data/
pretrained_models
pretrained_models/
.idea/
eche_
runs/
*.pyc
.installed.cfg
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
!src/data
env.yaml
pet.yml
mvenv
mvenv/
logs
logs/
_output_/
_output_
output
output/
output_slurm
output_slurm/
_seed_output/
_seed_output
seed_output/
new_seed_output/
new_seed_output
seed_output/
_seed_output_/
_seed_output_
training_with_callbacks
training_with_callbacks/
training_with_callbacks*
results
results/
slurm_adapetsetfit.sh
__pycache__
__pycache__/
cb_models
cb_models/
slurm_files/
slurm_files
dataframes_with_val
dataframes_with_val/